body {
	background-image: url("../images/candyhole.png");
	background-color: #D9F0B8;
	color: #250010;
}

nav {
	margin: 10px 0px;
	background-color: #250010;
	color: #D9F0B8;
}

nav img {
	height: 60px;
}

#links .link {
	background-color: #5B2369;
	color: #D9F0B8;
	border-color: #250010;
	border-style: solid;
	border-width: 1px;
	margin: 20px;
}

footer {
	background-color: #250010;
	color: #D9F0B8;
	height: 30px;
}

.jumbotron {
	background-image: url("../images/dark-wall.png");
	background-color: #67912D;
}

.card {
	width: 20rem;
	height: 35rem;
	margin: 10px 0px;
	background-color: #67912D;
}

.card-img-top {
	width: 100%;
	height: 200px;
  	position: relative;
  	display: inline-block;
  	overflow: hidden;
  	margin: 0;
}

.contact-icon button {
	width: 300px;
	margin: 10px;
	color: #250010;
	background-color: #D9F0B8;
	border-color: #250010;
	border-style: solid;
	border-width: 5px;
	border-radius: 10px;
	box-shadow: 2px 4px;
	background-image: url("../images/candyhole.png");
}

.contact-icon button a {
	text-decoration: none;
}

.contact-icon img {
	max-height: 100px;
	margin: 10px;
	background-color: #D9F0B8;
	border-color: #250010;
	border-style: solid;
	border-width: 1px;
	box-shadow: 1px 2px;
}

.btn {
	background-color: #5B2369;
	color: #D9F0B8;
	border-color: #250010;
	border-style: solid;
	border-width: 5\2px;	
}

.main {
	background-color: #67912D;
}

#photo {
	max-height: 500px;
	border-width: 10px;
	border-style: solid;
	border-color: #250010;
	background-color: #9F4031;
	width: 100%;
}

#foot {
	padding: 10px;
	margin: 10px;
}
